.pageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
  width: 100%;
  min-width: 1200px; /* ограничиваем ширину карточек */
}

.loader {
  margin: 1rem 0;
  opacity: 0.85;
}
