.pageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

.card {
  background-color: var(--slate-700);
  color: var(--slate-50);
  padding: 10px;
  width: 300px;
  min-height: 350px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 2px 2px 15px #000 inset;
  border: 2px solid #07ff07;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.2s ease, box-shadow 0.3s ease, border-radius 0.2s ease;
}

.card:hover {
  transform: translateY(-5px) scale(0.98);
  cursor: pointer;
  color: #07ff07;
  border-radius: 20px;
  box-shadow: 0 0 15px #07ff07, 2px 2px 15px #07ff07 inset;
}

.cardTitle {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 0.5rem;
}

.cardImage {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 0.5rem;
}

.cardDescription {
  font-size: 18px;
  margin-top: 10px;
}

.buttonContainer {
  display: flex;
  gap: 15px;
  margin: 20px 0;
}
